* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
  
} 
.logo {
    width: 50px;
    height: 50px;
    }
.boton{
    padding: 5px 10px;
    background-color: rgb(132, 169, 140);
    border: none;
    border-radius: 50px;
    color:#edf0f1       
 }
 .boton:hover {
    background-color: rgb(82, 121, 111);
 }
 nav{
    background-color:rgb(202, 210, 197);
    grid-area: nav;    
     }
 li, a, button{
    font-weight: 500; 
    font-size: 15px;
    }
.botonwsp img {
    width:50px;
    height: 50px;
    position:fixed;
    bottom: 10px;
    right: 10px;
}
.inicio{    
    background-size: cover;
    background-image: url(../img/inicio.jpg);
    }
main{
    grid-area: main;
}

.sedes {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:self-start;
}
.cajita {
    margin: 20px;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: 3px 3px 10px;
    text-align: center;
    /* background-color:#edf0f1; */
    width:40%;
    /* opacity: 10%; */
    color:#edf0f1;
        
}

.cajitaAsociate {
    margin: 20px;
    border: 1px solid #444444;
    border-radius: 4px;
    box shadow: 3px 3px 10px;
    text align:center;
    
}
 .cajita p {
    color:rgb(58, 90, 64);
 }

 .contenedorActividades {
  margin: 50px;
  padding: 30px;
  border: solid 1px #99A799;
  border-radius: 4px;  
  /* background-color:darkseagreen;
  opacity: 60%; */
  box-shadow: 3px 3px 10px;

 }

 .contenedorActividades h2, h1 {
    color:rgb(58, 90, 64);
    text-transform: uppercase;    
 }

 .contenedorActividades p {
    text-transform: uppercase;    
 }

 .contenedorNosotros h2, p {
    color:rgb(58, 90, 64);
    text-transform: uppercase; 

 }

 

 

 /* .cajitaActividades {
    padding:10%;
    margin: 10px;
    padding: 10px;
    height: 250px;
    width: 40%;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: 3px 3px 10px;
    text-align: center;
 } */

 /* Acá poner el mixing más algunas prop como en .contenedorActividades */
 .cajitaFormulario {
    margin: 50px;
    padding: 30px;
    border: solid 1px #99A799;
    border-radius: 4px;
    background-image:url(../img/formulario.jpg);
    opacity: 80%;
    box-shadow: 3px 3px 10px;

 }
.caja{
    margin-left:10px;
    margin-right: 10px;
}
.inicio h1, h2 {
    text-transform: uppercase;
    color: #edf0f1;
    text-align: center;
}

footer{
    text-align: center;   
    grid-area: footer;   
    width: 100%;
    height: 30px;    
    background: linear-gradient(to right,rgb(132, 169, 140), rgb(82, 121, 111) )
}
body {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    gap:0;
}
h4{
    padding: 2px;
    font-size:1rem;
}

.imagenEncabezado {
    width: 100%;
}
.masdetalle{
    background-color: black;
    /* height: 135vh;    
    overflow:hidden; */
}

/* DUDA: Si no lo pongo alto fijo a los fondos (me pasó tanto en el inicio como en masdetalle, me genera un espacio entre esa parte y el footer. cómo lo acomodo? No puedo dejar el alto fijo porque cuando achico pantalla se va el texto por fuera */

.actividad{
    text-transform: uppercase;
    font-size: larger;
    /* text-decoration: none; */
    color:#444444
}
.nuestrobox{
    display:flex;
    align-items: center;
    justify-content: center;
}
form {    
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content:center; 
    background-color: black;       
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.campo{
    margin: 5px;
    padding: 5px;
    width: 40vw;
}
.subcaja1{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.subcajita{
    width: 40vw;      
    
}
.caja3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.cajita p {
    text-transform: uppercase;
    font-size: larger;
}
.logo2{
    width: 50px;
    height: 50px;
}
/* .asociate{
    width: 50vw;
    position:absolute;
    top: 200px;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;    
} */

/* DUDA: Al posicionar el cuadro asociate con position absolute el footer me queda por arriba, cómo lo acomodo? */

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
.links li {
    list-style-type: none;
}

@media (max-width: 768px){
    .botonwsp{
        display:none;
    }
    .mapa {
        display: none;
    }
    .cajita{
        width: 90%;
    }
    .vector {
        display:none;
    }
    
}