@media (max-width: 768px){
    .botonwsp{
        display:none;
    }    
    .cajita{
        width: 90%;
    }    
    .campo{
        width: 60vw;
    }
    .mapa{
        width: 50vw;
    }     
}